.main-title {
  text-align: center;
  font-size: 26px;
  color: #333;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.countryCard h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
}
.countryCard {
  padding: 20px 0px;
  border: 1px solid #eee;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.countryCard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: #efefef;
  border-width: 1px 1px 1px 1px;
}

.countryCard p {
  color: #696969;
  padding: 10px;
  text-align: center;
  margin: 14px 0px 0px;
}

.countryCard img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.link {
  font-weight: 500;
  font-size: 13px;
  display: flex;
  padding: 5px;
  justify-items: center;
  justify-content: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.link:hover .link-href,
.link:hover .icon-link {
  color: #76d4f9;
}

.link .icon-link {
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn span {
  border: 1px solid #6ac5f1;
  padding: 15px 30px;
  font-size: 14px;
  transition: 0.3s ease;
  border-radius: 30px;
  color: #6ac5f1;
  margin: 50px 0px;
  cursor: pointer;
}

.btn span:hover {
  background-color: #6ac5f1;
  color: #fff;
}
@media (max-width: 768px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
  }
}
