.main-title {
  text-align: center;
  font-size: 26px;
  color: #333;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.countryCard h2 {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
}
.countryCard {
  padding: 20px 0px;
  border: 1px solid #eee;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.countryCard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: #efefef;
  border-width: 1px 1px 1px 1px;
}

.countryCard p {
  color: #696969;
  padding: 10px;
  text-align: center;
  margin: 14px 0px 0px;
}

.countryCard img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.link {
  font-weight: 500;
  font-size: 13px;
  display: flex;
  padding: 5px;
  justify-items: center;
  justify-content: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.link:hover .link-href,
.link:hover .icon-link {
  color: #76d4f9;
}

.link .icon-link {
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn span {
  border: 1px solid #6ac5f1;
  padding: 15px 30px;
  font-size: 14px;
  transition: 0.3s ease;
  border-radius: 30px;
  color: #6ac5f1;
  margin: 50px 0px;
  cursor: pointer;
}

.btn span:hover {
  background-color: #6ac5f1;
  color: #fff;
}

.parentTheCountry {
  position: relative;
  height: 50vh;
  border-bottom: 8px solid #378fb4;
}

.backgroundImageMainCountry {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../../../src//until/Image/JPG/AdobeStock_219776591.jpeg")
    center/cover no-repeat;
  filter: brightness(0.7);
}

.CountryOverlay {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
}

.CountryTextt {
  position: absolute;
  top: 35%;
  color: #fff;
  padding: 15px;
}
.CountryTextt h1 {
  text-align: center;
  padding: 0px 16px;
  color: #ebebeb;
  font-size: 48px;
  font-weight: 600;
}

.CountryTextt p {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 900;
  color: #d8d8d8;
}
.sssss {
  display: flex;
  width: 75%;
  margin: 20px 0px;
}

@media only screen and (max-width: 768px) {
  .sssss {
    width: 100%;
    flex-direction: column;
  }
  .searchBtn {
    width: 40%;
    margin-top: 15px;
  }
}

.searchBtn {
  background-color: #378fb4;
  padding: 18px 40px;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  margin-left: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}

@media only screen and (max-width: 768px) {
  .CountryText p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
  }
}

.city {
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.city div {
  display: flex;
  align-items: center;
}

.city p {
  cursor: pointer;
  color: #696969;
}

@media only screen and (max-width: 768px) {
  .city {
    display: flex;
    flex-direction: column;
    
  }
  .CountryTextt{
    top: 20%;
  }
  .parentTheCountry {
    height: 50vh !important;
  }
 
}

@media only screen and (max-width: 600px) {
  .parentTheCountry {
    height: 75vh !important;
  }
  .CountryTextt h1{
    font-size: 35px !important;
  }
}