.bodyNavBar{
  font-family: 'Montserrat', sans-serif;
  
}
.main {
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  color: white;
}

.logo img {
  width: 140px;
  height: 55px;
}

.pages {
  display: flex;
  gap: 20px;
}

.pages a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}


.pages.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #333;
  padding: 10px;
}

.burger {
  display: none;
  cursor: pointer;
  color: red;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media (max-width: 768px) {
  .burger {
    display: block;
    color: red;
  }
 
.logo img {
  /* width: 75px; */
  /* height: 75px; */
}

  .pages {
    display: none;
  }
}

/* 76d4f9 */
.burger-menu-container {
  position: relative;
  display: inline-block; 
}

.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 150px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #696969;
  display: none;
  border-bottom: 2px solid #76d4f9;
}

.dropdown-menu:hover{
  color: black;
}



.burger-menu-container:hover .dropdown-menu,
.dropdown-menu:hover {
  display: flex;
  flex-direction: column;
}

.dropdown-menu div {
  padding: 8px;
  cursor: pointer;
}

.burger-menu:hover {
  transform: none;
}
