.parentTheDiv {
    position: relative;
    height: 40vh;
    border-bottom: 8px solid #378fb4;
  }
  
  .backgroundImageCountry {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("https://images.pexels.com/photos/3490856/pexels-photo-3490856.jpeg")
    center/cover no-repeat;
  filter: brightness(0.7);
  }
  
  .CountryOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .CountryText {
    position: absolute;
    top: 25%;
    color: #fff;
    padding: 15px;
  }
  .CountryText h1{
    margin-bottom: 16px;
    color: #EBEBEB;
    font-size: 48px;
    font-weight: 600;
  }
  
  .CountryText p {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 900;
    color: #D8D8D8;
  }
  .sssss{
    display: flex;
    width: 75%;
    margin: 20px 0px;
  }

  @media only screen and (max-width: 768px) {
    .sssss {
      width: 100%;
      flex-direction: column; 
    }
    .searchBtn{
      width: 40%;
      margin-top: 15px;
    }
  }

  .searchBtn{
    background-color: #378fb4;
    padding: 18px 40px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin-left: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
  }

  
  @media only screen and (max-width: 768px) {
    .CountryText p{
      font-size: 20px;
    }
  }
  
  
  