.main-title {
  text-align: center;
  font-size: 26px;
  color: #333;
}

.cardBox {
  margin: 50px 0px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 0;
}
.card {
  flex: 0 0 30%;
  margin: 10px;
  padding: 25px 0px;
  border: 1px solid #eee;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: #efefef;
  border-width: 1px 1px 1px 1px;
}

.card p {
  color: #696969;
  padding: 10px;
  text-align: center;
  margin: 14px 0px 0px;
}

.card img {
  width: 150px;
  height: 150px;
}
.card .img1{  
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}


.card .img2{  
  border-radius: 30% 70% 70% 30% / 20% 20% 50% 50% ;
}

.card .img3{  
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

.link {
  margin: 25px 0px;
  display: flex;
  justify-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .card {
    flex: 0 0 45%;
  }
}

@media (max-width: 576px) {
  .card {
    flex: 0 0 100%;
  }
}
