.headerName {
  text-align: center;
  font-size: 26px;
  color: #333;
}

.headerName span {
  color: #76d4f9;
}

.Secrets-of-Studying {
  background-color: #f1fbff;
  padding: 25px 0px;
}

.flex-Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px;
}

.flex-Card .ContainerCard {
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  margin: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.flex-Card .ContainerCard:first-child {
  width: 25%;
  margin-top: 20%;
}
.flex-Card .ContainerCard:nth-child(2) {
  width: 50%;
}
.flex-Card .ContainerCard:last-child {
  width: 25%;
}

.flex-Card .card-text {
  padding: 0px 20px;
}
.flex-Card p:first-child {
  color: #696969;
  font-weight: 500;
}
.flex-Card p:nth-child(2) {
  font-weight: 700;
  color: #3f3a64;
}
.flex-Card img {
  width: 100%;
}

.more-article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-article span {
  padding: 15px 30px;
  font-size: 14px;
  border-radius: 30px;
  color: #6ac5f1;
  border: 0.5px solid #6ac5f1;
}

.more-article span:hover {
  background-color: #6ac5f1;
  color: #fff;
  cursor: pointer;
}
