.UniversityApplicationBtn {
  margin-top: 50px;
}
.UniversityApplicationBtn span {
  padding: 15px 30px;
  font-size: 14px;
  border-radius: 30px;
  color: #007dae;
  background-color: #ffff;
  font-weight: 500;
}


.rightSide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .hover-text {
    transition: all 0.3s ease;
  }
  
  .hover-text.hovered {
    transform: translate(-10px, 10px);
  }